# Data
data/raw/
data/processed/

# Modelos serializados
models/saved/*.pkl

# Reportes generados
reports/figures/

# Python
__pycache__/
*.py[cod]
*.egg-info/
.env
.venv/
venv/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# macOS
.DS_Store

# IDE
.idea/
.vscode/

# CatBoost logs
catboost_info/

# Kaggle credentials
kaggle.json
